@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(178, 190, 181);
}

.wrapper{
  width: 410px;
  background: #696969;
  border-radius: 10px;
  padding: 20px;
  transition: 0.2s;
}

.wrapper.active{
  height: 530px;
}

header h1{
  color: #fff;
  font-size: 22px;
}

header p{
  color: #ddd;
  margin-top: 5px;
}

.form{
  margin-top: 20px;
}

.form input{
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.form button{
  width: 100%;
  margin-top: 10px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background: orange;
  color: #fff;
  cursor: pointer;
}

.form button:hover{
  background: black;
}

.qr-code{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}

.wrapper.active .qr-code{
  opacity: 1;
  pointer-events: auto;
}

.qr-code img{
  width: 170px;
}

/* 🔥 KRİTİK FIX */
.back-to-home{
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
  font-size: 28px;
  color: #000;
  background: #fff;
  padding: 10px;
  border-radius: 50%;
}

.attribute{
  position: absolute;
  bottom: 10px;
  color: #000;
}