@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(178, 190, 181);
  position: relative;
}

.container{
  width: 450px;
  background: #fff;
  border-radius: 10px;
}

h2{
  text-align: center;
  padding: 15px;
}

.wrapper{
  padding: 20px;
}

.input-box{
  position: relative;
}

.input-box input{
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 16px;
}

.input-box span{
  position: absolute;
  right: 10px;
  top: 15px;
  cursor: pointer;
}

.pass-indicator{
  height: 5px;
  background: #ddd;
  margin: 10px 0;
}

#weak::before{
  content:"";
  display:block;
  width:25%;
  height:5px;
  background:red;
}

#medium::before{
  content:"";
  display:block;
  width:50%;
  height:5px;
  background:orange;
}

#strong::before{
  content:"";
  display:block;
  width:100%;
  height:5px;
  background:green;
}

.pass-length span{
  float: right;
}

.options{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.option{
  width: 50%;
  margin: 5px 0;
}

.generate-btn{
  width: 100%;
  padding: 10px;
  background: #4285F4;
  color: #fff;
  border: none;
  margin-top: 10px;
}

/* FIX */
.back-to-home{
  position: fixed;
  top: 20px;
  left: 20px;
  background: #fff;
  padding: 10px;
  border-radius: 50%;
  z-index: 9999;
}

.attribute{
  position: absolute;
  bottom: 10px;
}