@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(178, 190, 181);
}

.container{
  width: 600px;
  height: 350px;
  background: rgb(85,85,85);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-header{
  text-align: center;
  color: #fff;
}

.container-body{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.color-box{
  width: 200px;
  height: 175px;
  background: #fff;
  border-radius: 15px;
}

.color-info{
  color: #fff;
}

.color-value{
  background: #fff;
  color: #000;
  padding: 10px;
  border-radius: 10px;
}

button{
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #fff;
}

button:hover{
  background: #000;
  color: #fff;
}

/* FIXED BACK BUTTON */
.back-to-home{
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 28px;
  background: #fff;
  padding: 10px;
  border-radius: 50%;
  color: #000;
  z-index: 9999;
}

.attribute{
  position: absolute;
  bottom: 10px;
  color: #000;
}

.attribute a{
  color: #000;
}